extend layout

block main
  section#tests
    header
      h2 Editing '#{test.title}'
      ul
        li
          if test.has_score
            form(action=`/students/${student.id}/tests/${test.test_id}/clear` method="post")
              button(type="submit") Clear Score
        li
          form#confirm(action=`/students/${student.id}/tests/${test.test_id}/toggle` method="post")
            if test.done
              button Mark Undone

  form(action=(test.done ? `/students/${student.id}/tests/${test.test_id}/edit` : `/students/${student.id}/tests/${test.test_id}/toggle`) method="post")
    dl
      dt
        h2 Enter score:
      if test.test_type === 'SAT'
        dd
          label(for="SATVerbal") SAT
          input(type="number"
                id="SATVerbal"
                name="SATVerbal"
                placeholder="Verbal"
                value=SATVerbal || (score ? score.sat_verbal : null))

          label(for="SATMath") /
          input(type="number"
                id="SATMath"
                name="SATMath"
                placeholder="Math"
                value=SATMath || (score ? score.sat_math : null))
      if test.test_type === 'ACT'
        dd
          label(for="ACTEnglish") ACT
          input(type="number"
                id="ACTEnglish"
                name="ACTEnglish"
                placeholder="English"
                value=ACTEnglish || (score ? score.act_english : null))

          label(for="ACTMath") /
          input(type="number"
                id="ACTMath"
                name="ACTMath"
                placeholder="Math"
                value=ACTMath || (score ? score.act_math : null))

          label(for="ACTReading") /
          input(type="number"
                id="ACTReading"
                name="ACTReading"
                placeholder="Reading"
                value=ACTReading || (score ? score.act_reading : null))

          label(for="ACTScience") /
          input(type="number"
                id="ACTScience"
                name="ACTScience"
                placeholder="Science"
                value=ACTScience || (score ? score.act_science : null))
      dd
        input(type="checkbox"
              id="projected"
              name="projected"
              value="Projected"
              checked=(score ? !!score.projected: false))
        label(for="projected")  Projected 
        input(type="checkbox"
              id="mock"
              name="mock"
              value="Mock"
              checked=(score ? !!score.mock: false))
        label(for="mock") Mock
      br


    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/students/${student.id}`) Cancel
